* {
  padding: 0px;
  margin: 0px;
}

html, body {
  background-color: #1a1a1a;
  color: white;
  font-size: 16pt;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

h3 {
  background-color: #00a6ed;
  padding: 5px 10px;
  font-size: 20px;
  margin-bottom: 0px; 
  border-radius: 5px 5px 0px 0px;
  font-family: Orbitron;
  border-top: solid 1px rgb(175,225,255);
  border-bottom: solid 1px rgb(0,54,86);  
}

.cellBottom {
  border-radius: 0px 0px 5px 5px;
  padding: 0px;
  margin-top: 10px;
}

h4 {
  background-color: #00a6ed;
  padding: 5px 10px;
  font-size: 18px;
  margin-bottom: 0px; 
}

h5 {
  font-size: 18px;
  color: #000000;
  margin: 10px auto 0px 0px;
}

h6 {
  margin: 0px;
  padding: 0px;
  font-size: 12px;  
}

.main {
  width: 970px;
  margin: 10px auto 50px auto;
}

input,
select {
  background-color: transparent;
  border: 0px;
  padding: 3px 10px;
  margin: 0px;
}

select, input[type="text"] {
  border-radius: 8px;
  box-shadow: 0px 0px 3px inset rgba(0,0,0,0.4);
  border: 0px;
  transition: 100ms linear;
  margin: 0px;
  padding: 0px;
}

input[type="number"] {
  border: 0px;
  margin: 0px;
  padding: 0px;
  color: white;
  text-align: center;
}

select:focus {
  outline: none;
}

input[type="button"] {
  background-color: rgba(255,255,255,0.3);
  transition: all 150ms linear;
  font-size: 1rem;
  color: ghostwhite;
  border-radius: 5px;
  border: solid 1px rgba(0,0,0,0.7);
}

input[type="button"]:hover {
  background-color: dodgerblue;
}


input[type=range] {
  height: 18px;
  padding: 0px;
  -webkit-appearance: none;
  margin: 5px;
  box-shadow: none;

}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 3px inset rgba(255,255,255,0.5);
  background: transparent;
  border-radius: 5px;
  border: 0px solid #000000;
  transition: 150ms linear;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 3px inset rgba(255,255,255,0.2);
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  transition: 150ms linear;
}
input[type=range]:hover::-webkit-slider-runnable-track {
  background: rgba(0,0,0,0.2);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0,0,0,0.5);
}
input[type=range]::-webkit-slider-thumb:hover {
  background: rgba(175,175,255,0.75);
  box-shadow: 0px 0px 3px inset rgba(255,255,255,0.2);
}
input[type=range]:hover::-webkit-slider-thumb {
  box-shadow: 0px 0px 3px inset rgba(255,255,255,0.5);
}

canvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.statusHeader {
  padding: 8px;
}

.menuButton {
  font-size: 12px !important;
  color: #000000 !important;
  border-radius: 0px !important;
  border: 0px !important;
  border-right: solid 1px rgba(0,0,0,0.2) !important;
  border-left: solid 1px rgba(0,0,0,0.4) !important;
}

#overlayBg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(5px) saturate(10%);
  transition: all 100ms linear;
}

#overlayFg {
  position: relative;
  margin: 100px auto;
  width: 300px;
  height: 200px;
  background-color: rgba(255,255,255,9);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.9);
  color: black;
  
}

#overlayContent {
  margin: 15px;
}

.dialogButtonRow {
  display: flex;
  flex-direction: row-reverse;
  margin: 30px 0px 10px 0px;
}

.dialogButtonRow input[type="button"] {
  flex-grow: 0;
}

.gridPanel {
  display: grid;
  grid-template-columns: 470px 490px;
  min-height: 300px;
  grid-gap: 10px;
}

.gridPanelWide {
  display: grid;
  grid-template-columns: 890px 490px;
  min-height: 300px;
  grid-gap: 10px;
}

.gridRow {
  display: grid;
  grid-template-columns: 30px 416px;  
}

.cellPanel {
  background-color: #26282a;
  border-radius: 5px;
}

.cellGrid {
  display: grid;
  grid-template-columns: 30% 20% 30% 20%;
  margin: 0px;
}

.cellGrid div:nth-child(odd) {
  background-color: rgba(255,255,255,0.05);
  text-align: right;
  padding-right: 5px;
}

.cellGrid div:nth-child(even) {
  padding-left: 5px;
  font-weight: bolder;
}

.cellGrid2 {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 0px;
}

.cellGrid2 div:nth-child(odd) {
  text-align: right;
  padding-right: 5px;
  line-height: 35px;
}

.cellGrid3 {
  display: flex;
  flex-direction: row;
}

.cellGrid4 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 5px;
  font-size: 16px;
  grid-gap: 5px;
  font-size: 20px;
}

.ledControlRow {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.infoRow, .infoRow2 {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  background-color: silver;
  color: black;
}

.infoRow2 {
  background-color: grey;
}

.infoRow div{
  flex-grow: 1;
  margin: 0px 10px;
}

.infoRow input[type="text"] {
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: black;
}

#pixelGrid {
  width: calc(13px * 32);
  height: calc(13px * 32);
  margin: 15px auto;
  user-select: none;
  cursor: crosshair;
  box-shadow: 0px 0px 3px black;  
  background: no-repeat center center url(/assets/images/swim-marlin-icon.png);
}

.selected {
  background-color: rgba(255,0,0,0.2);
}

#framesPanel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#framesContainer {
  height: 95px;
  border: solid 1px rgba(255,255,255,0.2);
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: rgba(200,200,200,0.5);
}

.frame {
  width: 25px;
  height: 72px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 18px;
  font-size: 18px;
  user-select: none;
}

.frame:hover {
  background-color: rgba(255,245,10,0.2);
}

.frameBox {
  border: solid 1px rgba(255,255,255,0.5);
  flex-grow: 1;
  height: 60px;
  margin: 2px;
}

.marker {
  height: 18px;
  border-bottom: solid 1px rgba(255,255,255,0.4);
  user-select: none;
}

.palletteRow {
  display: flex;
  flex-direction: row;
}

#colorPallette {
  margin: 5px;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow-y: auto;
}

#activePallette {
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow: auto;
  max-height: 253px;  
}

#activePalletteContainer {
  width: 50%;
  margin: 0px;
}

#colorPallette div, #activePallette div  {
  width: 20px;
  height: 20px;
  flex-grow: 0;
  margin: 0px;
  z-index: initial;
}

#colorPallette div:hover, #activePallette div:hover  {
  box-shadow: 0px 0px 5px 1px green;
  z-index: 10;
}

.colorRow {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.colorSelectors {
  display: grid;
  grid-template-columns: 15px 70px auto;
  width: calc(100% - 75px);
  font-size: 18px;
  line-height: 28px;
  margin: 0px 5px;
  text-align: center;
}

.colorSelectors input {
  font-size: 18px;
  line-height: 18px;
}



.activeColors {
  width: 75px;
  background-color: silver;
  position: relative;
}

#backgroundColorChip, #foregroundColorChip {
  position: absolute;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 1px 0px rgb(0,0,0);
}

#foregroundColorChip {
  top: 10px;
  left: 10px
}

#backgroundColorChip {
  top: 25px;
  left: 25px;
  background-color: black;
}

.palletteTools {
  display: flex;
  flex-direction: row;
}

.palletteTools input {
  flex-grow: 1;
  font-size: 18px;
}

.panelRow {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.panelRow:hover {
  background-color: rgba(255,255,255,0.2);
}

.selectedPanel, .selectedPanel:hover {
  background-color: rgba(255,50,50,0.2);
}

.okButton {
  background-color: rgba(55,55,100,0.5) !important;
}

.okButton:hover {
  background-color: rgba(75,155,75,0.5) !important;
}

.cancelButton {
  background-color: rgba(55,55,100,0.5) !important;
  margin: 0px 0px 0px 10px;
}

.cancelButton:hover {
  background-color: rgba(155,75,75,0.5) !important;
}

#animationList {
  width: 270px;
}

#mainPanelList {
  font-size: 16px;
  height: 104px;
  overflow: auto;
}

.brushTools {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.animationControls {
  display: grid;
  padding-left: 5px;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.animationControls span, .panelControls span, .brushTools span {
  background-color: rgba(255,255,255,0.3);
  transition: all 150ms linear;
  font-size: 1rem;
  color: ghostwhite;
  border-radius: 5px;
  border: solid 1px rgba(255,255,255,0.4);
  text-align: center;
  line-height: 38px;
  margin: 0px 3px 0px 0px;
  cursor: pointer;
  user-select: none;
}

.panelControls {
  display: grid;
  grid-template-columns: 40px 40px 40px;
}

.panelControls span{
  line-height: 35px;
  height: 35px;
}

.brushTools span {
  background-color: rgba(255,255,255,0.1);
  border: solid 1px rgba(255,255,255,0.1);
  border-radius: 2px;
  height: 25px;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 5px;
}

#panelAnimName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 240px;
}

.animationControls span:hover, .animationControls span:active,
.brushTools span:hover, .brushTools span:active,
.panelControls span:hover, .panelControls span:active{
  color: #00a6ed;
  border: solid 1px #00a6ed;
  background-color: #cae2ed;
}

.animationControls span:active,
.brushTools span:active,
.panelControls span:active{
  color: rgb(151,0,172);
  border: solid 1px rgb(151,0,172);
  box-shadow: 0px 0px 5px white;
}

.animationControlLabels {
  margin-top: 3px;
  padding-left: 5px;
  font-size: 12px;
  display: grid;
  grid-template-columns: 50% 10% 40%;
}

.on {
  color: #00a6ed !important;
  border: solid 1px #00a6ed !important;
  background-color: #cae2ed !important;
  box-shadow: 0px 0px 3px white;
}