/* ===============================
 * Global style
 * ============================= */
 html, body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4em;
    font-family: Lato, "Open Sans", sans-serif;
    -webkit-tap-highlight-color: transparent;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    background-color: #040e19;  
  }
  
  a, a:visited, a:focus {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    margin-bottom: 1.5rem;
  }
  
  h1, .h1 {
    font-size: 48px;
    font-weight: normal;
  }
  
  h2, .h2 {
    font-size: 36px;
    font-weight: normal;
  }
  
  /* h3, .h3 {
    font-size: 24px;
    font-weight: normal;
  } */
  
  h4, .h4 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
  }
  
  h5, .h5 {
    font-size: 15px;
    font-weight: normal;
  }
  
  h6, .h6 {
    font-size: 13px;
    font-weight: normal;
  }
  
  h1, .h1 {
    line-height: 1.188;
  }
  
  h2, .h2 {
    line-height: 1.2;
  }
  
  h3, .h3 {
    line-height: 1.222;
  }
  
  h4, .h4 {
    font-weight: lighter;
    line-height: 1.2;
  }
  
  h6, .h6 {
    line-height: 1.23;
  }
  
  /* ===============================
   * Bootstrap override
   * ============================= */

.main {   
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
}

.main-header {
  position: relative;
  z-index: 10;
  height: 64px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;  
}
.main-header .main-title {
  display: flex;
}
.main-header .row {
  height: 100%;
  flex-grow: 1;
}
.main-header .content-left,
.main-header .content-right {
  display: flex;
}
.main-header .content-left a,
.main-header .content-left picture,
.main-header .content-right a,
.main-header .content-right picture {
  display: flex;
  height: 100%;
  align-items: center;
}
.main-header .btn-plant-back {
  margin-right: 10px;
}
.main-header .content-right {
  margin-top: 15px;
  margin-bottom: 12px;
  justify-content: flex-end;
  align-items: flex-end;
}
.main-header .content-right picture {
  padding-left: 15px;
}
.main-header h1 {
  align-self: center;
  font-size: 20px;
  margin: 0 25px 0 15px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 62px;
  height: 100%;
}
.main-header .timer {
  align-self: flex-end;
  font-size: 13px;
  line-height: 1.2;
}

.infogrid {
  display: flex;
  flex-direction: column;
}

.sideMenu h4 {
  background-color: transparent;
  text-align: left;
  border-top: solid 1px rgba(255,255,255,0.25);
  border-bottom: 0px;
  font-size: 16px;
  font-weight: 100;
  color: #9B9B9B;
  overflow: hidden;
  white-space: nowrap;
  height: 0px;
  transition: all 150ms linear;
}

.infogrid h3, .sideMenuOpen h4 {
  background-color: rgba(12,17,18,0.5);
  text-align: left;
  backdrop-filter: blur(10px) saturate(0%);
  /* margin: 10px 0px 0px 0px; */
  font-size: 16px;
  font-weight: 100;
  color: #9B9B9B;
  padding: 5px 0px 5px 6px;
  transition: all 150ms linear;
  white-space: nowrap;
}

.infogrid h3 {
  margin: 0px;
}

.infogrid div {
  background-color: rgba(12,17,18,0.1);
  display: flex;
  padding: 3px;
  backdrop-filter: blur(10px) saturate(0%);
}

.infogrid div:nth-child(even) {
  background-color: rgba(12,17,18,0.2);
}

.infogrid div span {
  width: 50%;
  flex-grow: 1;
  font-weight: 300;
  color: rgba(255,255,255,0.75);
  padding: 2px;
}

.sideMenu, .sideMenuOpen {
  position: absolute;
  top: 74px;
  left: 0px;
  width: 40px;
  height: calc(70% - 74px);
  backdrop-filter: blur(10px) saturate(0%);
  z-index: 100;
  transition: all 100ms linear;
  overflow: hidden;
  background-color: rgba(12,17,18,0.5);
  border-radius: 0px 10px 10px 0px;
}

.sideMenu h3, .sideMenuOpen h3  {
  width: 0px;
  transition: all 150ms linear;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  color: #9B9B9B;
  white-space: nowrap;
  transition: all 150ms linear;
  height: 30px;
}

.sideMenuOpen h3 {
  width: calc(100% - 50px);
}

.sideMenuOpen {
  width: 200px;
}

.sideMenu .toggleButton, .sideMenuOpen .toggleButton {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  transition: all 100ms linear;
  transform: rotate(90deg);
  cursor: pointer;
  color: #9B9B9B;
}

.sideMenuOpen .toggleButton {
  transform: rotate(270deg);
}

.toggleButton:hover {
  color: rgba(255,255,255,0.9);
}

.toggleButton::after {
  content:"\25b2";
  display: block;
  font-size: 22px;
  text-align: center;
  line-height: 25px;
  
}

.filterList {
  width: 40px;
  overflow: hidden;
  transition: all 150ms linear;
}

.filterList li {
  margin: 15px;
}

.filterList div {
  display: flex;
  flex-direction: row;
  width: 200px;
  margin: 20px 10px;
  cursor: pointer;
  white-space: nowrap;
}

.sideMenuOpen .filterList {
  width: 200px;
  overflow: hidden;
}

.timestampContainer {
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 18px;
  font-weight: 100;
  height: 50px;
  z-index: 1;
  color: rgba(255,255,255,0.9);
  display: flex;
  flex-direction: column;
}

.simBarContainer {
  height: 10px;  
  margin-top: 5px;
}

.simBarBg {
  width: 100%;
  height: 100%;
  border: solid 1px rgba(200,200,200,0.5);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px rgba(200,200,200,0.5);
  backdrop-filter: blur(10px) saturate(0%);
}

.simBarFg {
  width: 0%;
  height: 100%;
  background-color: rgba(55,155,255,0.75);
  border-radius: 10px;
  border: solid 1px rgba(55,155,255,1);
}

.listIcon {
  width: 20px;
  height: 20px;
  background-color: rgba(255,255,255,0.5);
  border: solid 1px rgba(255,255,255,0.75);
  margin-right: 10px;
}

#aircraft {
  background-color: transparent;
  background: linear-gradient(135deg, rgba(106,175,0,0.75) 0%, rgba(106,175,0,0.75) 45%, rgba(0,166,255,0.75) 55%, rgba(0,166,255,0.75) 100%);
  border-color: linear-gradient(135deg, rgba(106,175,0,0.95) 0%, rgba(106,175,0,0.95) 45%, rgba(0,166,255,0.95) 55%, rgba(0,166,255,0.95) 100%);
}

.airplaneIcon {
  background: no-repeat url(/assets/images/airplane-icon-blue.png) 1px 1px;
  background-size: 16px;
  width: 20px;
  height: 20px;
}

.airportIcon, .airportIconSmol {
  background: no-repeat url(/assets/images/airport-icon.png) 1px 1px;
  background-size: 16px;
  width: 20px;
  height: 20px;
}

.airportIconSmol {
  background-size: 11px;
}

#aircraft, #lgAirport, #medAirport {
  border-radius: 50%;
}

#medAirport {
  width: 15px;
  height: 15px;
  margin-right: 12px;
  margin-left: 3px;
}

#icyWeather {
  background-color: rgba(100,100,255,0.3);
  border-color: rgba(100,100,255,0.8);
}

#highTurb {
  background-color: rgba(255,255,0,0.3);
  border-color: rgba(255,255,0,0.8);
}

#lowTurb {
  background-color: rgba(150,150,0,0.3);
  border-color: rgba(150,150,0,0.8);
}

#ifr {
  background-color: rgba(55,255,0,0.3);
  border-color: rgba(55,255,0,0.8);
}

#freezeLevel {
  background-color: rgba(0,0,200,0.3);
  border-color: rgba(0,0,200,0.8);
}

#mntObstr {
  background-color: rgba(0,255,0,0.3);
  border-color: rgba(0,255,0,0.8);
}

#surfaceWind {
  background-color: rgba(255,0,255,0.3);
  border-color: rgba(255,0,255,0.8);
}

.nolink {
  cursor: default !important;
}

.pieHeader {
  position: absolute;
  padding: 5px;
  font-size: 18px;
  background-color: rgba(100,100,200,0.7);
  width: 50%;
  text-align: left;
}

.headerCloseButton {
  position: absolute;
  right: 10px;
  top: 0px;
  font-weight: 900;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.headerCloseButton:hover {
  font-weight: 900;
  text-decoration: none;
  color: white;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.menu select {
  margin: 10px;
  background-color: #404040;
  color: white;
  border: 0px;
}